{% extends 'base.html' %}
{% block content %}

<html><body>
<h1>List of all classes in {{scpk.first.schoolName}} :</h1>


<ul>
    {% for class in schoolclasses %}
        <p><a href="{% url 'student-list' clpk=class.pk scpk=scpk.first.pk %}"> <li>{{ class.scClassName }} </a> -
            <a href="{% url 'school_class-detail' clpk=class.pk scpk=scpk.first.pk %}"> Edit Class & Profeesor name </a>  </li> </p>
            <a href="{% url 'school_class-delete' clpk=class.pk scpk=scpk.first.pk %}">Delete Class</a> </li></p>

        Professor of this class: {{ class.professorName }}

    {% endfor %}
</ul>
<ul><a href="{% url 'school_class-create' scpk=scpk.first.pk %}"> Create </a></ul>


<a href="{% url 'tmp_school-list' %}"> Back </a>
</body></html>
{% endblock %}

